<div class="ly_container">

  <div class="card mt-30">
      <div class="de-top">
          <p><strong>Home#index</strong></p>
      </div>
  </div>
  <div id="homeIndex"></div>
  <%= javascript_include_tag "HomeIndex", defer: true %>
</div>
<script language="javascript" type="text/javascript">
</script>
