@use "../../utility/colors" as *;

.p-signup {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;

  &__title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.2rem;
    margin: 1.2rem 0 2.5rem 0;
  }

  &__form {
    background: #f5f5f5; // 背景色は適宜調整
    display: flex;
    flex-direction: column;
    padding: 2rem 5.5rem;

    input[type="text"],
    input[type="email"],
    input[type="radio"],
    input[type="tel"],
    input[type="select"],
    input[type="password"] {
      padding: 0.5rem 0.5rem;
      margin-bottom: 1.5rem;
      background-color: white;
      border: 1px solid gray;
      border-radius: 4px;
      text-align: left;
    }

    button {
      width: 50%;
      margin: 0 auto;
      padding: 1rem;
      background-color: #ffa500; // 背景色は適宜調整
      color: white;
      font-weight: bold;
      margin-top: 2rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#ffa500, 10%);
      }
    }

    &--user-type {
      display: flex;
      margin-top: 0.4rem;
      input[type="radio"] {
        margin-right: 0.5rem;
      }
      label {
        margin-right: 1rem;
      }
    }

    &--label-with-validation-message {
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      label {
        display: flex;
        align-items: center;
        margin-right: 12px;
        // input[type="radio"] {
        //   margin-right: 0.5rem;
        // }
      }

      span {
        color: red;
        font-weight: 600;
        font-size: 0.8rem;
      }
    }

    &--address-block {
      display: flex;
      width: 100%;

      &--prefecture {
        flex: 0 0 40%; // 40%の幅を取る
        // flex-shrink: 0;
      }

      &--city {
        flex-grow: 1;
        flex: 0 0 60%; // 60%の幅を取る
      }
    }
  }
}
