@use "../../utility/colors" as *;

.p-signup {
  // ★レイアウトトップにmargin/padding設定禁止！
  // 本当はformのCSS入らないけどリファクタリングの時間がない。。。。。。。。。
  &__form {

    &--user-type {
      display: flex;
      margin-top: 0.4rem;
      input[type="radio"] {
        margin-right: 0.5rem;
      }
      label {
        margin-right: 1rem;
      }
    }

    &--label-with-validation-message {
      display: flex;
      align-items: center;
      margin-bottom: 3px;

      span {
        color: red;
        font-weight: 600;
        font-size: 0.8rem;
      }
    }
  }
}
